<div class="container">
    <div class="row justify-content-start">
       <!-- <div class="col-12 col-lg-10 col-xl-8 mx-auto"> -->
        <div class="col-12 col-md-8 ">
            <!-- <h2 class="h3 mb-4 page-title">Settings</h2> -->
            <div class="my-4">
                <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                            aria-controls="home" aria-selected="false">Profile</a>
                    </li>
                </ul>
                <form [formGroup]="userForm">
                    <div class="row mt-5 align-items-center">
                        <div class="col-md-3 text-center mb-5">
                            <div class="avatar avatar-xl">
                                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="..."
                                    class="avatar-img rounded-circle" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="row align- items-center">
                                <div class="col-md-7">
                                    <h4 class="mb-1">{{currentUser.FamilyName}}, {{currentUser.name}}</h4>
                                    <p class="small mb-3"><span class="badge badge-dark">APTIV, Tunisia</span></p>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-md-7">
                                    <p class="text-muted">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </p>
                                </div>
                                <div class="col">
                                    <p class="small mb-0 text-muted">Nec Urna Suscipit Ltd</p>
                                    <p class="small mb-0 text-muted">P.O. Box 464, 5975 Eget Avenue</p>
                                    <p class="small mb-0 text-muted">(537) 315-1481</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4" />
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="firstname">Firstname</label>
                            <input type="text" id="firstname" class="form-control" formControlName="name" placeholder="name" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastname">Lastname</label>
                            <input type="text" id="lastname" class="form-control" formControlName="lastname" placeholder="lastname" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" formControlName="email" id="inputEmail4"
                            placeholder="email adress" />
                        <div *ngIf="userForm.get('email')!.invalid && (userForm.get('email')?.dirty || userForm.get('email')!.touched)"
                            class="alert alert-danger">
                            <small *ngIf="userForm.get('email')!.errors?.pattern" class="text-danger">Please provide a
                                valid email address</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress5">Job</label>
                        <input type="text" class="form-control" id="inputAddress5"
                            placeholder="job" formControlName="job"/>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCompany5">Username</label>
                            <input type="text" class="form-control" id="inputCompany5"
                                placeholder="username" formControlName="username"/>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState5">Department</label>
                            <select id="inputState5" class="form-control" formControlName="department" >
                                <option selected="">Quality</option>
                                <option>Production</option>
                                <option>Logistique</option>
                                <option>IT</option>
                                <option>Human Resource</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputZip5">Zip</label>
                            <input type="text" class="form-control" id="inputZip5" placeholder="98232" />
                        </div>
                    </div>
                    <hr class="my-4" />
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputPassword4">Old Password</label>
                                <input type="password" class="form-control" id="inputPassword4"
                                    formControlName="oldpass" />
                            </div>
                            <div class="form-group">
                                <label for="inputPassword5">New Password</label>
                                <input type="password" class="form-control" id="inputPassword5"
                                    formControlName="newpass" />
                            </div>
                            <div class="form-group">
                                <label for="inputPassword6">Confirm Password</label>
                                <input type="password" class="form-control" id="inputPassword6" formControlName="confirmnew"/>
                                <div *ngIf=" (userForm.get('confirmnew')!.invalid && (userForm.get('confirmnew')?.dirty || userForm.get('confirmnew')!.touched))" class="alert alert-danger"> 
                                    <small *ngIf="userForm.get('confirmnew')!.errors" class="text-danger">Passwords do not match </small>
                                        
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p class="mb-2">Credentials</p>
                            <p class="small text-muted mb-2">Only the manager of this department can update access
                                rights</p>
                            <ul class="small text-muted pl-4 mb-0">
                                <li>
                                    <p class="ask">Export data from dashboard&nbsp;<input class="tick" type="checkbox"
                                            name="fruit" formControlName="export"></p>
                                </li>
                                <li>
                                    <p class="ask">Import data to workspace&nbsp;<input class="tick" type="checkbox"
                                            name="fruit" formControlName="import"></p>
                                </li>
                                <li>
                                    <p class="ask">Update action plan&nbsp;<input class="tick" type="checkbox"
                                            formControlName="modifyActionPlan"></p>
                                </li>
                                <li>
                                    <p class="ask">Update action&nbsp;<input class="tick" type="checkbox" name="fruit"
                                            formControlName="modifyAction"></p>
                                </li>
                                <li>
                                    <p class="ask">Add action plans&nbsp;<input class="tick" type="checkbox"
                                            name="fruit" formControlName="addActionPlan"></p>
                                </li>
                                <li>
                                    <p class="ask">Add actions&nbsp;<input class="tick" type="checkbox" name="fruit"
                                            formControlName="addAction"></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="saveUser()">Save Change</button>
                </form>
            </div>
        </div>
    </div>

</div>