.title{
    color: #000;
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 25px;
}
.title:after{
    content: '';
    background-color:#f84018;
    height: 3px;
    width: 60px;
    margin: 10px 0 0;
    display: block;
    clear: both;
}

button{
    font-size:18px;
    color:#fff;
    width: 100px;
    background:#000000;
    border:none;
    padding: 14px 15px;
    font-weight: 500;
    transition: 0.3s ease;
    border-radius:5px;
}
 button:hover{
    background-color: #f84018;
    cursor: pointer;
}

.sub-title{
    color: #333;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 20px;
    font-family:'Montserrat',sans-serif;
    font-weight: bold;
    position: relative;
    left: 200px;
}
.sub-title:after{
    content: '';
    background-color:#40a506;
    height: 3px;
    width: 200px;
    margin: 2px 0 0;
    display: block;
    clear: both;
}
.field{
    font-weight: bold;
    font-size: 15px;
    font-family:'Montserrat',sans-serif;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid rgb(164, 165, 165);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgbrgb(183, 212, 245);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

span{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15%;
    
}
.left{
    display: inline-block;
    padding:0px 2px;
}
.add{
    position: relative;
    left: 550px;
}

.input[type="checkbox"]:checked::after{
    background-color:#40a506;
}