<!--form submission canceled because the form is not connected error in console-->

<body>

    <div class="login-form">
        <h1>Login</h1>
        <div class="container">
            <div class="main">
                <div class="content">
                    <h2>Log in</h2>
                    <form>
                        <input type="text" name="username" placeholder="User name" required autocomplete=""
                            [(ngModel)]="user.username">
                        <input type="password" name="password" placeholder="User password" required autocomplete=""
                            [(ngModel)]="user.Password">
                        <button class="dashboard" type="button" (click)="authenticate()">Log In</button>
                    </form>
                    <p class="newpwd" href="#">Forgot password? </p>
                </div>
                <div class="form-img">
                    <img src="../../../assets/ht.png">
                </div>
            </div>

        </div>
    </div>


</body>