<body>
    
    <div class="login-form">
        <h1>Create Account</h1>
        <div class="container">
            <div class="main">
                <div class="content">
                    <h2>Create Account</h2>
                    <form action="" >
                        <input type="email" name="Email" placeholder="Email" required autocomplete="" [(ngModel)]="request.Email">
                        <input type="text" name="family name" placeholder="Family name" required autocomplete="" [(ngModel)]="request.FamilyName">
                        <input type="text" name="name" placeholder="Name" required autocomplete="" [(ngModel)]="request.Name">
                        <input type="text" name="job" placeholder="Role" required autocomplete="" [(ngModel)]="request.Job">
    
                        <button class="btn" type="submit" (click)="saveRequest()">Register</button>
                    </form>
                    
                </div>

            </div>

        </div>
    </div>
    
</body>
